*.vcd
obj_dir/
tb/arch/tests/
tb/lsu/tests/
fpga/*/tests/
fpga/*/hex/
fpga/*/db/
fpga/*/incremental_db/
fpga/*/*.flow.rpt
fpga/*/*.map.rpt
fpga/*/*.map.summary
fpga/*/*.qpf
fpga/*/*.qsf
fpga/*/*.tcl
fpga/*/*.asm.rpt
fpga/*/*.done
fpga/*/*.fit.rpt
fpga/*/*.fit.smsg
fpga/*/*.fit.summary
fpga/*/*.jdi
fpga/*/*.pin
fpga/*/*.sld
fpga/*/*.sof
fpga/*/*.sta.rpt
fpga/*/*.sta.summary
fpga/*/*.smsg
